*.local

vim/.vim/bundle
vim/.vim/vimplugins
vimcommon/.config/vimcommon/undodir/*

Session.vim

nvim/.config/nvim/nvimplugins

*fish_history
*fishd.*
fish/.config/fish/functions/fzf_key_bindings.fish
node_modules/
tmux/.tmux/plugins/*
newsbeuter/.newsbeuter/cache.db
newsbeuter/.newsbeuter/cache.db.lock
newsbeuter/.newsbeuter/history.*
