*.local

vim/.vim/undodir/*
!vim/.vim/undodir/.gitkeep

Session.vim

*fish_history
*fishd.*
fish/.config/fish/functions/fzf_key_bindings.fish
node_modules/
tmux/.tmux/plugins/*
tmux/.tmux/resurrect
fish_variables
