[submodule "vim/.vim/pack/plugins/start/vim-surround"]
	path = vim/.vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/.vim/pack/plugins/start/vim-repeat"]
	path = vim/.vim/pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
